footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 40vh;
    padding: 2rem 3rem;
}
.wrapper-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.under-footer{
    grid-column-end: span 3;
    justify-self: center;
    margin-top: 2rem;
}
